/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: "Inter-Variable", sans-serif;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  display: grid;
  background-image: var(--back-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: "PressStart2P", fantasy;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  margin-block-start: 100px;
  width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  justify-self: center;
  text-align: center;
  display: grid;
  gap: 25px;
}

.logo-group {
  gap: 20px;
  display: grid;
}

.header__title {
  margin-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  cursor: pointer;
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  justify-self: center;
  padding-bottom: 25px;
  padding-left: 20px;
}

.theme-menu__list {
  display: grid;
  row-gap: 10px;
}

.theme-menu__item {
  justify-self: start;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 0;
  padding-bottom: 3px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  top: 0;
  left: -13px;
  pointer-events: none;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover:disabled,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.content {
  margin-top: 100px;
  justify-self: center;
  max-width: 696px;
}

.content__list {
  display: grid;
  row-gap: 50px;
}

.card {
  display: grid;
  background-color: var(--background-color);
  border: 2px solid var(--main-color, #000000);
  width: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
}

.card__title {
  font-variation-settings: "wght" var(--font-wght-card-title, 700);
  background-color: var(--background-color);
  color: var(--main-color);
  font-size: 18px;
  line-height: 21.78px;
  text-align: left;
  padding: 4px 10px 6px 10px;
  border-bottom: 2px solid var(--main-color);
}

.card__image-cover {
  position: relative;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: "PressStart2P", fantasy;
  color: var(--main-color);
  mix-blend-mode: hard-light;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 50%;
}

.card__image {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.filter-brightness {
  filter: brightness(50%);
}

.filter-blur {
  filter: blur(3px);
}

.filter-gray {
  filter: grayscale(100%);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-hue {
  filter: hue-rotate(0.5turn);
}

.filters {
  filter: saturate(200%) blur(3px) brightness(50%);
}

.card__text {
  /* width: clamp(20.063rem, 30.516vw + 12.91rem, 40.375rem); */
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  row-gap: 27px;
  border-top: 2px solid var(--main-color);
}

.card__description {
  font-variation-settings: "wght" var(--font-wght-card-description, 400);
  font-size: 18px;
  line-height: 21px;
  color: var(--main-color);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--text-color);
}

.button {
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  color: var(--main-color);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

/* Кнопка "LIKE" */
.card__like-button {
  width: 130px;
  height: 38px;
}

/* Кнопка SVG */
.card__icon-button {
  transition: border 0.3s ease;
  display: grid;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__bottom {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  column-gap: 5px;
  justify-content: flex-end;
}

.like-icon {
  align-self: center;
  justify-self: center;
}

.footer {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.footer__button {
  padding: 15px 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.modal {
  font-family: "PressStart2P", fantasy;
  background-color: var(--background-color);
  color: var(--main-color);
  text-transform: uppercase;
  border: 2px solid var(--main-color);
  width: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  align-items: center;
}

.modal[open]::backdrop {
  opacity: 75%;
  background: #000000;
}

.modal__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.modal__content-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: clamp(12.375rem, 3.38vw + 11.583rem, 14.625rem);
}

.modal__button {
  text-transform: uppercase;
  width: clamp(16.063rem, 3.38vw + 15.27rem, 18.313rem);
  height: 38px;
}

.floppy {
  width: 39px;
  height: 39px;
}

@media (width>375px) {
  .footer__button {
    flex-direction: row;
  }
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}
